<!-- <div class="main-header" [ngClass]="{ 'collapsed': isLeftSidebarCollapsed() }">
  <h1>Header</h1>
</div> -->

<div class="main-header" [ngClass]="{ 'collapsed': isLeftSidebarCollapsed() }">
  <div class="left-section">
    <span class="logo">Logo</span>
  </div>

  <div class="center-section">
    <a routerLink="/home" class="home-link">Home</a>
      <a routerLink="/logout" class="logout-link">Login</a>
      <a routerLink="/add" class="btn add-btn">Add</a>
  </div>

  <div class="right-section">
    <i class="fa fa-bell icon"></i>
    <i class="fa fa-cog icon"></i>
    <div class="user-profile">
      <img src="https://i.pravatar.cc/30" alt="User" />
      <span>SS</span>
    </div>
  </div>
</div>





