

<div class="main-header" [ngClass]="{ 'collapsed': isLeftSidebarCollapsed() }">
  <div class="left-section">
    
     <img src="logo.png" alt="App Logo" class="logo" />

  </div>

  <div class="spacer"></div> 

  <div class="center-section">
    <a routerLink="/home" class="home-link">Home</a>
    
     <span class="logout">Logout</span>
    <a routerLink="/add" class="btn add-btn">Get Plus</a>
  </div>

  <div class="right-section">
    <i class="fa fa-bell icon"></i>
    <i class="fa fa-cog icon"></i>
    <div class="user-profile">
      <img src="https://i.pravatar.cc/30" alt="User" />
      <span>SS</span>
    </div>
  </div>
</div>









