/* .body {
  width: calc(100% - 5rem);
  margin-left: 5rem;
  z-index: 0;
  position: relative;
  top: 0;
  transition: all 0.5s ease;
  background: #f4f7fa;
  padding: 3rem 3rem 3rem 3rem; 
  padding-top: 6rem; 
}


.body-trimmed {
  width: calc(100% - 16.5625rem);
  margin-left: 16.5625rem;
}

.body-md-screen {
  width: calc(100% - 5rem);
  margin-left: 5rem;
} */

/* Base body styling */


.body {
  padding-top: 6rem; 
  min-height: 100vh;
  transition: all 0.3s ease;
  background-color: #f4f7fa;
}


.body-expanded {
  padding-left: 16.5625rem; 
}

.body-collapsed {
  padding-left: 5rem; 
}

.layout-container {
  display: flex;
}


.main-content {
  flex: 1;
  padding: 1rem;
  margin-left: 16.5625rem; 
  transition: margin-left 0.3s ease;
}


.body-collapsed .main-content {
  margin-left: 5rem;
}



