

<!-- <div class="body" [ngClass]="sizeClass()">
  <app-header [isLeftSidebarCollapsed]="isLeftSidebarCollapsed()"></app-header>

  <div class="layout-container">
    <app-left-sidebar
      [isLeftSidebarCollapsed]="isLeftSidebarCollapsed()"
      (changeIsLeftSidebarCollapsed)="changeIsLeftSidebarCollapsed($event)">
    </app-left-sidebar>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->

<div class="body" [ngClass]="isLeftSidebarCollapsed() ? 'body-collapsed' : 'body-expanded'">
  <app-header [isLeftSidebarCollapsed]="isLeftSidebarCollapsed()"></app-header>

  <div class="layout-container">
    <app-left-sidebar
      [isLeftSidebarCollapsed]="isLeftSidebarCollapsed()"
      (changeIsLeftSidebarCollapsed)="changeIsLeftSidebarCollapsed($event)">
    </app-left-sidebar>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


