

.body {
  /* padding-top: 6rem; */
  min-height: 100vh;
  background-color: #f4f7fa;
  transition: all 0.3s ease;
  padding-left: 16.5625rem;
 
}

.body-collapsed {
  padding-left: 5rem; 
}

.layout-container {
  display: flex;
}

.main-content {
  flex: 1;
  padding: 1rem;
  padding-top: 40px;

}



