<!-- <div class="chaos-section">
  <div class="chaos-text">
    <span class="tag">TASK MANAGER</span>
    <h1>
      Work like <br />
      chaos !
    </h1>
    <button class="cta-btn">Get Started</button>
  </div>
  <div class="chaos-image">
    <img src="https://themewagon.github.io/Desgy/images/banner/banner.svg" alt="Work Like Chaos" />
  </div>
</div> -->


<div class="chaos-section">
  <div class="chaos-text">
    <span class="tag">TASK MANAGER</span>
    <h1>
      Work like <br />
      chaos !
    </h1>
    <button class="cta-btn" routerLink="/login">Get Started</button>

  </div>
  <div class="chaos-image">
    <img src="https://themewagon.github.io/Desgy/images/banner/banner.svg" alt="Work Like Chaos" />
  </div>
</div>

